/*
 * Globals
 */

:root {
  box-sizing: border-box;
  --dracula-bg:#282a36;
  --dracula-cl:#44475a;
  --dracula-fg:#f8f8f2;
  --dracula-comm:#6272a4;
  --dracula-cya:#8be9fd;
  --dracula-gre:#50fa7b;
  --dracula-ora:#ffb86c;
  --dracula-pin:#ff79c6;
  --dracula-pur:#bd93f9;
  --dracula-re:#ff5555;
  --dracula-yell:#f1fa8c;
}

html {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .logo {
    max-width: 200px;
  }

  .row .column:not(:last-child) {
    margin-bottom: 1rem;
  }

  .video {
    width: 100%;
  }

  .list-form {
    width: 90%;
  }

  .newsletter-text {
    font-size: 0.65rem;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  html {
    font-size: 13px;
  }

  .logo {
    max-width: 200px;
  }

  .row {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .row .column {
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
  }

  .row .column:not(:last-child) {
    margin-right: 10px;
  }

  .align-right {
    text-align: right;
  }

  .video {
    width: 70%;
  }

  .list-form {
    width: 60%;
  }

  .newsletter-text {
    font-size: 1.2rem;
  }
}

/* md */
@media screen and (min-width: 992px) {
  html {
    font-size: 15px;
  }

  .logo {
    max-width: 300px;
  }
}

/* lg */
@media screen and (min-width: 2560px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--dracula-fg);
  background-color: var(--dracula-bg);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b {
  font-weight: 800;
}

blockquote {
  font-style: italic;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
  color: #eeffff;
}

h1 {
  color: var(--dracula-pur);
}

h2 {
  color: var(--dracula-pin);
}

h3 {
  color: var(--dracula-pur);
}

h5 {
  color: var(--dracula-gre);
}

h6 {
  color: var(--dracula-yell);
}

h7 {
  color: var(--dracula-cya);
}

h8 {
  color: var(--dracula-ora);
}

a {
  /* color: #c3e88d; */
  color: var(--dracula-cya);
}

a:hover,
a:focus {
  color: var(--dracula-comm);
}

.anchor {
  color: #292d3e;
  float: left;
  padding-right: 4px;
  margin-left: -23px;
}

.anchor:hover {
  text-decoration: none;
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor {
  color: inherit;
}

kbd {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
}

pre {
  font-family: "JetBrains Mono", monospace;
  background-color: #232635;
  padding: 1em;
  overflow-x: scroll;
}

code {
  color: #c3e88d;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
  font-size: 1rem;
}

strong {
  font-weight: 700;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}

/*
 * Masthead for nav
 */

.site-masthead {
  margin-bottom: 0.5rem;
  background-color: rgba(28, 31, 38, 0.5);
  border-bottom: 0.05rem solid var(--dracula-pur);
  -webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -0.1rem 0.25rem rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 0rem;
  font-size: 1.3rem;
  margin: 0.5rem 1.25rem 0.5rem 0rem;
  font-weight: bold;
  color: var(--dracula-pur);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--dracula-fg);
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: var(--dracula-fg);
  font-weight: bolder;
}

.nav-icon {
  float: right;
}

.nav-icons {
  width: auto;
}

/*
 * Blog name and description
 */

.site-header {
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: bold;
  background-image: url("/img/header_bg.png");
  background-size: cover;
}

.site-title {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  color: var(--dracula-gre);
}
.site-description {
  font-size: 1.5rem;
  color: #999;
}

@media (max-width: 40em) {
  .site-description {
    margin-bottom: 1rem;
  }
}

/*
 * Site pages
 */

.site-post {
  margin-bottom: 2rem;
}

.site-post-title {
  margin-bottom: 0.75rem;
  font-size: 2.5rem;
}

.site-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.site-post-tags {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-size: 1.1rem;
  color: #999;
}

/*
 * Footer
 */

.site-footer {
  padding: 1.3rem 0;
  margin-top: 1rem;
  color: var(--dracula-comm);
  font-size: 1rem;
  background-color: var(--dracula-cl);
  border-top: 0.05rem solid var(--dracula-pur);
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer-right {
  text-align: right;
}

.video {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.cta {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f78c6c;
  border-radius: 4px;
  background-color: #232635;
}

.stream-time {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #c792ea;
  border-radius: 4px;
  background-color: #232635;
}

.list-form {
  font-size: 0.9rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--dracula-pur);
  border-radius: 4px;
  background-color: #232635;
}

.list-form-title {
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--dracula-pur);
}

.list-form-label {
  margin-top: 0.8rem;
  font-weight: bold;
}

.list-form input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #c3e88d;
  border-radius: 4px;
  background-color: #232635;
  color: #eeffff;
}

.list-form input[type="submit"] {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #89aaeb;
  border-radius: 4px;
  background-color: #89aaeb;
  color: #232635;
}

.newsletter-text {
}
